.navbar {
  display: flex;
  align-items: center;
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgb(161, 156, 156);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 50px;
}

.nav-right {
  gap: 10px;
  font-size: 19px;
  margin-right: 20px;
  display: flex;
}

.signin {
  margin-right: 50px;
  display: flex;
}

a{
    text-decoration: none;
}

.link {
  color: blue;
  margin-left: 10px;
  font-weight: 500;
}

.nav {
  display: flex;
  align-items: center;
  padding: 10px 2%;
  /* justify-content: center; */
  box-shadow: 0 0 10px rgb(161, 156, 156);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}
