body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f4f7;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.register {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.register form {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.register h2 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.register label {
  display: block;
  color: #444;
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 14px;
  background-color: #f9fafc;
  color: #333;
  transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #007bff;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.2);
}

.register button[type="submit"] {
  width: 40%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register button[type="submit"]:hover {
  background-color: #0056b3;
}

.register span {
  display: block;
  color: red;
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: 15px;
}
.register p {
  margin-top: 5px;
}
