
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  background-color: #f4f7fa; 
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f4f7fa;
}

.login h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.login form {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
  display: block;
}

.login input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
}

.login input:focus {
  border-color: #007bff; 
  outline: none;
}


.login button {
  width: 50%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login button:hover {
  background-color: #0056b3;
}

.login button:active {
  background-color: #004085;
}

.login span{
margin-left: 5px;
}

